<style>
.unstyled{
	list-style: none;
	margin: 0;
	padding: 0;
}
.userAddress{
	padding: 0 20px;
}
.userInfoList{
    padding: 0px; 
}
.serviceTimeList{
text-align: center;
}

.boxList li{
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px 20px;
}
.boxList li.selected{
    color: #F00;
}
.userInfoList span{
    margin-right: 20px;
}


address{
    margin-bottom: 0;
}
.userAdd div{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.userAdd div:last-child{
    border: none;
}
.userAdd label{
    width: 80px;
    position: absolute;
    display: inline-block;
}
.userAdd input{
    outline: none;
    width: 100%;
    padding-left: 80px;
    border: none;
}
.userAdd{
    border: 1px solid #ccc;
    border-radius: 4px;
}
.info-cache-btn{
    margin: 0 20px 10px 20px;
}
.userAdd{
    margin: 0 20px;
}
.outer-btn{
	text-align:right;
}
button.buy-btn{
    margin: 20px 20px;
}
.serviceTime{
    margin: 20px;
}
.serviceTime span{
    margin-right: 40px;
}

.remove-addr{
	float:right;
    cursor: pointer;
}
.remove-btn:hover{
    border-color: #888;
    color: #000;
}
.cancel{
	margin:5px;
}

.submit{
	margin:5px;
}

</style>

<!-- list -->
<div class="userAddress">
    <label>收获地址（点击选择，红色代表选中）：</label>
    <ul class="unstyled boxList userInfoList">
    	#foreach($address in $addressList)
        <li data-id="$address.id" class="#if($velocityCount ==1) selected #end"><span class="remove-addr">x</span><span class="userName">$address.name</span><span class="userPhone">$address.mobile</span>
    		<address>$address.address</address></li>
    	#end
    </ul>
	<a >添加收获地址，点击保存完成添加</a>
</div>
<div>
    <div class="userAdd">
        <div><label>姓名：</label><input class="userAdd-name" type="text"/></div>
        <div><label>手机：</label><input class="userAdd-mobile" type="text"/></div>
    	<div><label>送货地址：</label><input class="userAdd-address" type="text"/></div>
    </div>
    <div class="info-cache-btn clearfix">
    	<button class="btn pull-right cancel">取消</button><button class="btn pull-right submit">保存</button>
    </div>
</div>

<div class="serviceTime">
    <label>送达时间（点击选择，红色代表选中）：</label>
    <ul class="unstyled boxList serviceTimeList">
        <li data-id="1" date-suffix="11:00-13:00">今天中午(11:00-13:00) 11:00前选择</li>
		<li data-id="2" date-suffix="17:00-19:00">今天下午(17:00-19:00) 17:00前选择</li>
		<li data-id="3" date-suffix="11:00-13:00">明天中午(11:00-13:00)</li>
		<li data-id="4" date-suffix="17:00-19:00">明天下午(17:00-19:00)</li>
    </ul>
	##<span class="serviceTime-day">请选择日期</span><span class="serviceTime-hour">请选择时段</span>
</div>
<div class="outer-btn">
	<button class="buy-btn">立即下单</button>
</div>

<script>
	$(function(){
		$('.submit').click(function(){
			var name 	= $('.userAdd-name').val();
			var mobile	= $('.userAdd-mobile').val();
			var address = $('.userAdd-address').val();
			if(jQuery.trim(name) != '' && jQuery.trim(mobile) != '' && jQuery.trim(address) != '') {
				jQuery.ajax({
					url:"/address/add",
					data:{
						'name':name,
						'mobile':mobile,
						'address':address
					},
					success:function(json){
						var li = '<li data-id="' + json.id + '"><span class="userName">'+json.name+'</span><span class="userPhone">'+json.mobile+'</span><address>'+json.address+'</address></li>';
						$('.userInfoList').append(li);
            			$('.userAdd-name').val('');
            			$('.userAdd-mobile').val('');
            			$('.userAdd-address').val('');
						
						$('.userInfoList li:last-child').trigger('click');
					}
				})
			}
		});
		
		$('.userInfoList').delegate('li','click',function(e){
                    var target = $(e.currentTarget);
					if(target.hasClass('selected')) return;
					$('.userInfoList').children().removeClass('selected');
					target.addClass('selected');
                });
		
		$('.serviceTimeList').delegate('li','click',function(e){
                    var target = $(e.currentTarget);
					if(target.hasClass('selected')) return;
					$('.serviceTimeList').children().removeClass('selected');
					target.addClass('selected');
                });

				
		$('.cancel').click(function(){
			$('.userAdd-name').val('');
			$('.userAdd-mobile').val('');
			$('.userAdd-address').val('');
		});
		
		$('.remove-addr').click(function(e){
			var li = $(this).parent('li')
			var addressId = li.attr('data-id');
			if (confirm("确认要该收货地址？")) {
    			jQuery.ajax({
    				url:"/address/remove",
    				data:{
    					'id':addressId
    				},
    				success:function(json){
    					li.remove();
    				}
    			})
			}
			return false;
		});
		
		$('.buy-btn').click(function(){
			var addrli = $('.selected','.userInfoList');
			var timeli = $('.selected','.serviceTimeList');
			var addressId = addrli.attr('data-id');
			var timeId	  = timeli.attr('data-id');
			if(!addressId) {
				alert("请选择收货地址");
				return;
			}
			if(!timeId) {
				alert("请选择时间段");
				return;
			}
			
			var deliverTime;
			var date	= new Date();
			var month 	= date.getMonth()+1;
			if(month < 10) month = '0' + month;
			var day 	= date.getDate();
			if(day < 10) day = '0' + day;
			var current = date.getFullYear() + "-" + month + "-" + day;
			
			var ndate	= new Date(date.getTime() + 24*3600*1000);
			var month 	= ndate.getMonth()+1;
			if(month < 10) month = '0' + month;
			var day 	= ndate.getDate();
			if(day < 10) day = '0' + day;
			
			var next	= ndate.getFullYear()+ "-" + month + "-" + day;
			
			var hour  	= date.getHours();
			var flag	= true;
			switch(timeId) {
			case '1':
				if(hour >= 11) flag = false;
			case '2':
				if(hour >= 17) flag = false;
				deliverTime = current;
				break;
			case '3':
			case '4':
				deliverTime = next;
				break;
			}
			if(!flag) {
				alert('时间段过期，重新选择')
				return;
			}
			deliverTime += (" " + timeli.attr('date-suffix'));
			
			jQuery.ajax({
				url:"/order/add",
				data:{
					'addressId':addressId,
					'deliverTime':deliverTime
				},
				success:function(json){
					jQuery.objCookie('cart',null);
					alert('下单成功');
					window.location.href = "${urlUtil.order}"
				}
			})
		});
	})
</script>