<ul class="unstyled new-list" id="index">
    <li class="featurette" data-id="{{id}}">
        <a href="#">
            <img class="featurette-image pull-left" src="http://m.feetao.com/asset/image/a.jpg">
            <h2>谷歌，带你走进视觉盛宴</h2>
            <p class="desc">谷歌是一家有理想有创意的公司，特别是最近google公司推出的谷歌眼镜，让人们眼前一亮...</p>
            <div class="subbottom"><span>{{time}}分钟</span></div>
        </a>
    </li>
    <li class="featurette" data-id="{{id}}">
        <a href="#">
            <img class="featurette-image pull-left" src="http://m.feetao.com/asset/image/a.jpg">
            <h2>谷歌，带你走进视觉盛宴</h2>
            <p class="desc">谷歌是一家有理想有创意的公司，特别是最近google公司推出的谷歌眼镜，让人们眼前一亮...</p>
            <div class="subbottom"><span>{{time}}分钟</span></div>
        </a>
    </li>
    <li class="featurette" data-id="{{id}}">
        <a href="#">
            <img class="featurette-image pull-left" src="http://m.feetao.com/asset/image/a.jpg">
            <h2>谷歌，带你走进视觉盛宴</h2>
            <p class="desc">谷歌是一家有理想有创意的公司，特别是最近google公司推出的谷歌眼镜，让人们眼前一亮...</p>
            <div class="subbottom"><span>{{time}}分钟</span></div>
        </a>
    </li>
</ul>
