<!-- banner -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		#foreach($banner in $bannerList)
		<li data-target="#carousel-example-generic" data-slide-to="${velocityCount}-1" class="#if($velocityCount == 1) active #end"></li>
		#end
	</ol>
	<div class="carousel-inner">
		#set($start="1")
		#foreach($banner in $bannerList)
		<div class="item #if($velocityCount == 1) active #end">
			<a href="$banner.link">
    			<img data-src="holder.js/900x500/auto/#777:#555/text:First slide" alt="First slide" src="$banner.picUrl" />
    			<span class="carousel-caption">
    				<h3>$banner.title</h3>
    			</span>
			</a>
		</div>
		#end
	</div>
	<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>