<div class="navbar-fixed-bottom bar-panel">
    <div class="bar" >
        <a class="btn col-xs-6 #if($page=="news_banner") current #end" role="button" href="${urlUtil.news_banner}${urlUtil.anchor}">
            <span class="glyphicon glyphicon-list"></span>
            <span class="glyphicon-class">列表</span>
        </a>
        <a class="btn col-xs-6" role="button" href="tel:13948512406">
            <span class="glyphicon glyphicon-earphone"></span>
            <span class="glyphicon-class">联系我们</span>
        </a>
    </div>
</div>