<script src="${urlUtil.assets}/asset/js/jquery-cookie.js"></script>
<style>
p{
	margin: 0;
	padding: 0;
}
.min,.add{
    width: 26px;
    text-align: center;
}
.text_box{
    text-align: center;
    width: 50px;
}
.item-bar span{
	display: inline-block;
	min-width: 60px;
}
.remove-btn{
    cursor: pointer;
    display: block;
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.remove-btn:hover{
    border-color: #888;
    color: #000;
}

.sub-total{
	color:red;
}
.buy-info{
    margin: 10px 20px;
    text-align: right;
}
.buy-info em{
    font-style: normal;
    color: #f00;
}
</style>
<!-- list -->
<div class="edge-space">
	#foreach($product in $productList)
    <div class="media" data-id="$product.id" data-price="$product.getDotPrice()">
		<img class="media-object pull-left" data-src="holder.js/80x64" alt="64x64" style="width:80px; height:64px;" src="$product.picUrl">
        <div class="media-body" style = "padding-left:10px">
			<h4 class="media-heading">$product.title</h4>
            <p class="item-bar">
				<span>¥$product.getDotPrice()/$product.unit</span>
				<input class="min" name="" type="button" value="-" />
				<input class="text_box" name="" type="text" value="0" />
				<input class="add" name="" type="button" value="+" />
			</p>
			<p class="text-muted sub-total"></p> 
			<span class="remove-btn">X</span>
		</div>
    </div>
	#end
</div>
<p class="buy-info">共计：<em><span class="buyMoney"></span>元</em></p>
<script>
    $(function(){
	   function setCart(id, num){
            var obj = jQuery.objCookie('cart') || {};
            if(num == 0){
                delete obj[id];
            }else{
                obj[id] = num;
            }
            jQuery.objCookie('cart',obj);
        }
       // var textBoxs = $(".text_box");
        $(".add").click(function(e){
            var target = $(e.target),
                p      = target.parent(),
                d      = $(target.parents('.media')[0]),
                id     = d.attr('data-id'),
                textBox = p.find('.text_box');
            textBox.val(parseInt(textBox.val())+1);
            if (parseInt(textBox.val())!=0){
                p.find('.min').attr('disabled',false);
            }
            setCart(id, textBox.val());
			list.sys();
			result.sys();
        });
        $(".min").click(function(e){
            var target = $(e.target),
                p      = target.parent(),
                d      = $(target.parents('.media')[0]),
                id     = d.attr('data-id'),
                textBox = p.find('.text_box');
            textBox.val(parseInt(textBox.val())-1);
            if (parseInt(textBox.val())==0){
                p.find('.min').attr('disabled',true);
            }
            setCart(id, textBox.val());
			list.sys();
			result.sys();
        });
        $('.text_box').blur(function(e){
            var target = $(e.target),
                d      = $(target.parents('.media')[0]),
                id     = d.attr('data-id');
            if(target.val() == ''){
                target.val(1);
            }else if(!$.isNumeric(target.val())){
                var val = parseInt(target.val());
                target.val(val?val:1);
            }
            if(target.val() > 0){
                target.parent().find('.min').attr('disabled',false);
            }else{
                target.parent().find('.min').attr('disabled',true);
            }
            setCart(id, target.val());
			list.sys();
			result.sys();
        });

       var list = {
            init: function(){
                this.con = $('.edge-space');
                this.bind();
                this.sys();
            },
            bind: function(){
				this.con.delegate('.remove-btn','click',function(e){
                    var target = $(e.currentTarget),
                        li     = $(target.parents('.media')[0]);
						id	   = li.attr('data-id');
                    li.remove();
					result.sys();
					setCart(id,0);
                });
            },
            sys: function(){
                var lists = this.con.children(),
                    obj = jQuery.objCookie('cart');
                for(var i = 0,l = lists.length; i < l && obj; i++){
                    var item = $(lists[i]),
                        textB = item.find('.text_box'),
						textC = item.find('.sub-total'),
                        num = obj[item.attr('data-id')],
						price = item.attr('data-price'),
						totalP;
					num = num? num: 0;
					totalP = num*price;
                    textB.val(num);
					textC.text("¥" + totalP);
					item.attr('data-total', totalP);
                }
            },
			getSumtotalP : function(){
				var sumTotal = 0;
				var lists = this.con.children();
                for(var i = 0,l = lists.length; i < l; i++){
                    var item = $(lists[i]);
						sumTotal += parseFloat(item.attr('data-total'));
                }
				return sumTotal;
			}
        },
       
		
		result = {
			init: function(){
				this.con = $('.buy-info');
				this.sys();
			},
			sys: function(){
				$('.buyMoney' , this.con).text(list.getSumtotalP());
			},
			change:function(num) {
			}
		};
		list.init();
		result.init();

    });
</script>
