<div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="b" >
	#if($page=="market" || $page=="cart")
    <div id="custom-orderBar" data-role="controlgroup" data-type="horizontal" data-theme="a" class="custom-center">
		<a id="custom-orderBar-content" href="#" class="ui-btn ui-btn-inline">loading</a>
		#if($page=="market")
			<a href="cart" class="ui-btn ui-btn-inline">选好了</a>
		#else
			<a id="custom-orderBar-create" href="#" class="ui-btn ui-btn-inline">立即下单</a>
		#end
    </div>
	#end
</div>