<style>
.order-list{
    list-style: none;
    margin: 0 20px;
    padding: 0;
}
.order-list li{
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
}
.order-list .orderTime,
.order-list .deliverTime{
    color: #888888;
    text-align: center;
    padding: 0;
    margin: 0;
}
.order-list p{
    margin: 0;
    padding: 0;
}
.order-list .orderTime{
    float: left;
}
.order-list .deliverTime{
    float: right;
}
.order-list .orderNum,
.orderDetal label {
    color: #000;
}
.orderDetal em{
    font-style: normal;
    color: #F00;
}
.order-list .orderNum{
    font-size: 16px;
}
.order-list .orderState{
    float: right;
}
.order-list .orderCon{
    padding-bottom: 10px;
}

</style>
<ul class="unstyled order-list">
	#foreach($order in $orderList)
    <li>
        <div class="clearfix">
            <p class="orderTime"><label>下单：</label>$order.formatDate</p>
            <p class="deliverTime"><label>送餐：</label>$order.deliverTime</p>
        </div>
        <div class="orderCon">
        <p class="orderNum">编号:$order.id</p>
        <p class="orderItem">$order.content</p>
        </div>
        <p class="orderDetal">
			<label>金额：</label><em>&yen;$order.dotPrice</em>
			#if($order.status == 6)
				<span  class="orderState" style="color:green">
					等待发货
				</span>
			#elseif($order.status == 7)
				<span  class="orderState" style="color:black">
					订单取消
				</span>
			#elseif($order.status == 8)
				<span  class="orderState" style="color:green">
					派送中
				</span>
			#elseif($order.status == 10)
				<span  class="orderState" style="color:black">
					交易成功
				</span>
			#end
		</p>
    </li>
	#end
</ul>
