<div class="lead">
	营销是移动网络经济时代，企业和商家基于6亿微信用户的一种创新型营销模式。其
主要体现在以安卓系统、苹果系统的手机或者平板电脑中的移动终端（智能手机等）进行
的区域定位营销。
自微营销出现以来，网络营销的重点开始从PC终端（电脑）逐渐向移动终端（智能手
机等）转移。企业或商家仅需在微信公众平台申请公众号，便可获得一个二维码，一旦粉
丝们扫描二维码，并加关注，您的公司或商铺便顺利“住”进了该粉丝的手机。
在微信中，企业和商家与粉丝间的对话是私密性的，不需要公之于众的，所以亲密度
更高，完全可以做一些真正满足需求和个性化的内容推送。同时，微信一对一的交流方式
具有良好的互动性，精准推送信息的同时更能形成一种朋友关系，极大的增强消费粘性。
通过对公众号的二次开发，企业和商家可在其微信公众平台，展示微官网、微活动、
微会员、微推送、微预约、微服务、微相册、微支付，真正成为当今主流的线上线下（
O2O）微信互动营销大军当中的一员。
那么，企业和商家究竟该如何利用这一营销利器呢？
</div>