<div class="page-header">
	<h2>$article.title</h2>
	<p class="text-muted">$!article.description</p>
</div>
<div>
	<img class="img-responsive" data-src="holder.js/80x64" alt="64x64" src="$!article.picUrl" />
</div>
<div class="gap">
	$!article.detail</p>
</div>