<script>
function cart_init(div){
	var obj 	= af.objCookie('cart') || {},
		list 	= $("li" , div);
	af.each(list , function(index,li){
		var id = $(li).attr("data-id");
		if(obj[id])
			$(".num", li).html(obj[id]);
		else
			$(".productMinus", li).addClass("disable");
	});
	$(div).on("tap",".productPlus",function(e){
		var numTar = $(e.currentTarget).siblings(".num")
		var count = parseInt(numTar.html()) + 1;
		numTar.html(count);
		cart.setCount(numTar.parents("li").attr("data-id"),count);
		calculate();
		return false;
	});
	$(div).on("tap",".productMinus",function(e){
		var numTar = $(e.currentTarget).siblings(".num");
		var count = parseInt(numTar.html()) - 1;
		if(count <= 0) {
			$.ui.popup({
   				title:"删除商品",
   				message:"是否删除该菜品",
   				cancelText:"取消",
   				doneText:"确定",
   				doneCallback: function(){
					cart.setCount(numTar.parents("li").remove().attr("data-id"),0);
					
				},
   				cancelOnly:false
 			});
			return false;
		}
		numTar.html(count);
		cart.setCount(numTar.parents("li").attr("data-id"),count);
		calculate();
		return false;
	});
	
	function calculate() {
		var obj 	= af.objCookie('cart') || {};
		var totalCount = 0;
		var totalPrice = 0;
		for(var i = 0 ; i < list.length; i++) {
			var opt = $(list[i]);
			var num = obj[opt.attr('data-id')];
			if(!num) continue;
			totalPrice += (num*opt.attr('data-price'));
			totalCount+=num;
		}
		if(!totalCount) {
			$("#navbar").hide();
		} else {
			$("footer h4").html("共" + totalCount + "件,<span style=\"color:red\"> ￥"+totalPrice + "</span>");
			$("#navbar").show();
		}
	};
	calculate();
	
	$("footer").on("tap" , ".btn",function(e){
		var addressId = $("#deliverAddress", div).attr("data-id");
		if(!addressId) {
			$.ui.popup({
				title:"收获地址",
				message:"没有默认收获地址",
				cancelOnly:true,
				cancelText:"关闭"
			})
		} else {
    		$.ui.popup({
    			title:"确定下单",
				autoCloseDone:false,
    			message:createTimeText(),
    			cancelText:"取消",
    			doneText:"确定",
    			doneCallback: function(e){
					$("#"+e.id).trigger("close");
					console.log(e);
					var deliverTime	= $("#"+e.id).find(".active").attr("data-suffix");
					if(!deliverTime){
						$.ui.popup({
            				title:"送货时间",
            				message:"请选择送货时间",
            				cancelOnly:true,
            				cancelText:"关闭"
            			})
					} else {
        				af.ajax({
    						url:"/order/add",
            				data:{
            					'addressId':addressId,
            					'deliverTime':deliverTime
            				},
            				success:function(json){
            					if(json.success) {
            						$.objCookie('cart',null);
    								alert("下单成功");
            					} else {
    								alert(json.errorMsg);
            					}
            				}
    					})
					}
    			},
    			cancelOnly:false,
    			onShow:function(e){
    				$("#"+e.id).on("tap","li",function(e){
    					$(e.currentTarget).addClass("active").siblings().removeClass("active");
    				})
    			}
    		});
		}
		return false;
	});
	
	function createTimeText(){
		var date = new Date();
		var ndate	= new Date(date.getTime() + 24*3600*1000);
		var timeStr	= date.getFullYear() + "-" + ((date.getMonth()+1) < 10 ?"0"+(date.getMonth()+1) : date.getMonth()+1) + "-" + date.getDate(); 
		var nTimeStr = ndate.getFullYear() + "-" + ((ndate.getMonth()+1) < 10 ?"0"+(ndate.getMonth()+1) : ndate.getMonth()+1) + "-" + ndate.getDate();
		var list = [
			{"name":"今日中午(11:00-13:00)","suffix":timeStr + " 11:00-13:00","endHour":11},
			{"name":"今日下午(17:00-19:00)","suffix":timeStr + " 17:00-19:00","endHour":17},
			{"name":"明日中午(11:00-13:00)","suffix":nTimeStr + " 11:00-13:00"},
			{"name":"明日下午(17:00-19:00)","suffix":nTimeStr + " 17:00-19:00"}
		];
		var hour  	= date.getHours();
		var str = "<ul class=\"list radioList\">";
		af.each(list,function(index,data){
			if(data.endHour && hour >= data.endHour) return;
			str += "<li data-suffix=\"" + data.suffix+"\">" +data.name+ "</li>"
		});
		str +="</ul>";
		return str;
	}
}
</script>
<div>
	#if($address)
	<a id="deliverAddress" href="address" data-id="$address.id" data-transition="slide" data-ignore="true" class="delivery delivery-active icon location">
		<h3>收货人：$address.name<span>$address.mobile</span></h3>
		<div>$address.address</div>
	</a>
	#else
	<a href="address" data-transition="slide" data-ignore="true" class="delivery delivery-active icon location">
		<h3>没有找到您的默认收获地址</h3>
		<div>点击添加</div>
	</a>
	#end

	<ul class="listview">
		#foreach($product in $productList)
		<li data-id="$product.id" data-price="$product.dotPrice">
			<a href="#">
    			<img src="$product.thumbnail">
    	    	<h3>$product.title
    				<small>
    					¥$product.dotPrice/$product.unit
    					#if($product.oriPrice)
    						<span class="custom-decoration">原价¥$product.dotOriPrice</span>
    					#end
    				</small>
    			</h3>
				<p>销量:$product.sales</p>
			</a>
			<div class="button-group">
				<a class="productMinus">-</a>
				<a class="num">0</a>
				<a class="productPlus">+</a>
			</div>
	    </li>
		#end
	</ul>
	<footer id="cart-footer">  
		<h4>加载中...</h4>  
		<a class="btn">去下单</a>  
	</footer>
</div>