#set($page="cart")
<div class="bottom-space">
#if(!$!productList)
	#set($info_message="您还没有选购商品")
	#parse("control/info.vm")
#else
	#parse("control/buylist.vm")
	#parse("control/addresslist.vm")	
#end
</div>
#parse("control/bar.vm")
