<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="ArticleDO" type="com.feetao.web.model.ArticleDO" />
		<typeAlias alias="MemberDO" type="com.feetao.web.model.MemberDO" />
		<typeAlias alias="MessageDO" type="com.feetao.web.model.MessageDO" />
	</typeAliases>
	<mappers>
		<mapper resource="mybatis/user_article.xml" />
		<mapper resource="mybatis/user_member.xml" />
		<mapper resource="mybatis/user_message.xml" />
	</mappers>
</configuration>