a,a:hover,a:link,a:active,a.visited{
	text-decoration:none;
}
.edge-space{
	padding:10px 10px 0px 10px;
}
.bottom-space{
	padding-bottom:40px;
}
.gap{
	margin-top:15px;
}
.media{
	border-bottom: 1px solid #eee;
	min-height:75px;
	padding:10px 0px;
	margin-top:0px;
}
.media:active{
	background-color:#eee;
}
.media a{
	color:#000;
}
.bar-panel{
	background-color: #222;
}
.bar a , .bar a:hover{
	padding:10px 0;
	color:#ddd;
}
.bar .current{
	border-radius: 0px;
	background-color:#111;
	color:#ddd;
	border-bottom:1px solid #ddd;
}