.panel{
	background-color:#e1e1e1 !important;
}
a{
	text-decoration:none;
}
a:hover{
	background-color:#f0f0f0;
}

#header,.footer{
	background-color:#f5f5f5 !important;
	color:#000 !important;
	border-bottom: 1px solid #ccc !important;
	border-top: 1px solid #ccc !important;
}	
.panel .banner{
 overflow-x: hidden;
 position:relative;
 margin: 0px -10px;
}
.panel .banner ul{
 display:block;
 list-style:none;
}
.panel .banner ul li{
 float:left;
 position:relative;
}
.panel .banner img , .panel .banner a ,.panel .matrix img , .panel .matrix a{
 display:block;
 width:100%;
 color:white;
 text-decoration:none;
 font-weight: 700;
 text-shadow: 0 1px 0 #111;
}
.panel .matrix img{
 border-radius:5px;
}
.panel .matrix span{
 border-bottom-left-radius:5px;
 border-bottom-right-radius:5px;
}
.panel .banner span ,  .panel .matrix span{
 position:absolute;
 bottom:0px;
 left:0px;
 background-color:rgba(0,0,0,.4);
 width:100%;
 padding-left:10px;
 line-height:30px
}
.panel .banner ol{
 position: absolute;
 right: 10px;
 bottom: 10px;
 height:10px;
}
.panel .banner ol li {
 display: inline-block;
 width: 10px;
 height: 10px;
 text-indent: -999em;
 border: 2px solid #fff;
 border-radius: 6px;
 cursor: pointer;
 opacity: .4;
 -webkit-transition: background .5s, opacity .5s;
}
.panel .banner ol li.active {
 background: #fff;
 opacity: 1;
}
.panel .matrix{
 overflow-x: hidden;
 margin: 0px -10px;
}

.panel .matrix ul{
 display:block;
 list-style:none;
 width:100%;
}
.panel .matrix ul li{
 width:48%;
 float:left;
 position:relative;
 margin:1%;
}

.panel .listview{
 margin: 0px -10px;
 list-style: none;
 background-color: #fafafa;
}

.panel .listview .listview li:first-child {
	border-top: 1px solid #ddd;
}

.panel .listview li {
 display: block;
 list-style: none;
 position: relative;
 border-bottom: 1px solid #ddd;
 min-height: 6em;
}
.panel .listview li>a{
	padding: 0.5em 6.5em;
	display: block;
	min-height: 6em;
	color: inherit;
	text-decoration: none;
}
.panel .listview img{
	height:6em;
	width:6em;
	position:absolute;
	left: 0;
	top: 0;
}
.panel .listview > li .after:after {
    position: absolute;
    right: 8px;
    font-family: 'chevron';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f054";
    top: 50%;
    margin-top: -0.5em;
    color: inherit;
}

.panel .button-group{
position:absolute;
right:5px;
bottom:10px;
}
.panel .button-group a{
display:block;
font-size: 25px;
float:left;
height: 34px;
width: 34px;
line-height: 34px;
text-align: center;
color: inherit;
text-decoration: none;
font-weight: 700;
margin: 0px;
background-color: #e9e9e9;
}

.panel .button-group .num{
 background-color:#fff;
 font-size:14px;
 bor
}

.panel .button-group .disable{
 background-color:#f3f3f3;
 color: #aaa;
}


.panel .delivery{
 display:block;
 margin:0px -10px;
 padding: 14px 20px;
}
.panel .delivery-active{
 background-color:#c40000;
 color:#fff !important;

}

.panel .delivery div{
 margin: 5px 0px;
}
.panel .delivery span{
 float:right;
}
.panel .delivery:before{
font-size: 26px;
float: left;
line-height: 30px;
padding-top: 4px;
}


#cart-footer{
	text-align:center;
}
#cart-footer h4{
	color:#666;
	padding:0px 5px;
	display:inline-block;
}
#cart-footer .btn{
	height:30px !important;
	line-height: 30px !important;
	padding: 0px 5px !important;
	width:80px !important;
	background-color:red;
	top:9px !important;
	border-radius: 5px;
	font-size:14px !important;
	font-weight:700 !important;
}

.radioList .active{
	background-color:#c40000;
	color:#fff;
}
