<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
		<title>芝麻开门微超市</title>
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css" />
		<link rel="stylesheet" href="http://libs.baidu.com/fontawesome/4.0.3/css/font-awesome.min.css" />
		<link rel="stylesheet" href="${urlUtil.assets}/asset/css/custom.css" />
		<script src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
		<script src="${urlUtil.assets}/asset/js/jquery-cookie.js"></script>
    </head>
	<body>
    	$screen_content
		<script>
			window.myURL={}
			myURL.product	= '${urlUtil.product}';
			myURL.cart		= '${urlUtil.cart}';	
			myURL.order		= '${urlUtil.order}';
		</script>
		<script src="${urlUtil.assets}/asset/js/ss.js"></script>
	</body>
</html>
